{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movie Reviews{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New Review</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for review in reviews %}
    <article class="review">
      <header>
        <div>
          <h1>{{ review['movie_name'] }}</h1>
          <div class="about">by {{ review['username'] }} on {{ review['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == review['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=review['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p>{{ review['genre'] }} | {{ review['length'] }} mins | Rating: {{ review['rating'] }}/10</p>
      <p class="body">{{ review['review'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
