<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-oe6AATit0EzrqSEt5QmD2cZv+ZPRyl5HjEp7q3uVl/x+JiihT3Jd4Uc5F5nL0X6w" crossorigin="anonymous">
</head>
<body>
    <nav>
      <h1>Flaskr</h1>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span></li>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>

    <!-- Bootstrap JS and Popper.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-lx3l/rDoDjyTdFGLv6lCpyAmL3x5H+uKmK5NIvK3zV+od2oKoT7tpv8z2MK3ImaB" crossorigin="anonymous"></script>
</body>
</html>
